@font-face {
  font-family: ZenMaruGothic;
  src: url(assets/woff2/ZenMaruGothic-Light.woff2) format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: ZenMaruGothic;
  src: url(assets/woff2/ZenMaruGothic-Regular.woff2) format("woff2");
}
@font-face {
  font-family: ZenMaruGothic;
  src: url(assets/woff2/ZenMaruGothic-Medium.woff2) format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: ZenMaruGothic;
  src: url(assets/woff2/ZenMaruGothic-Bold.woff2) format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: ZenMaruGothic;
  src: url(assets/woff2/ZenMaruGothic-Black.woff2) format("woff2");
  font-weight: 900;
}
html {
  font-size: 14px;
}

body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: calc(clamp(50vw, 600px, 85vw) * 0.4);
  max-width: 1400px;
  color: #2b080f;
  font-family: ZenMaruGothic;
  font-weight: 600;
  background-color: #ffbac8;
  background-image: url("assets/images/sakura.png");
  background-size: 150vw auto;
  background-blend-mode: multiply;
  background-position-x: -25vw;
  background-attachment: fixed;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 1;
}

h2 {
  font-weight: 700;
  margin-bottom: 1.4rem;
  font-size: 1.5rem;
  line-height: 1;
}

h3 {
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  line-height: 1;
}

.secondary {
  color: #ff3159;
}

img.grouppic {
  position: fixed;
  top: 0vw;
  left: calc((100vw - clamp(50vw, 600px, 85vw)) / 2);
  width: clamp(50vw, 600px, 85vw);
}

emph {
  position: relative;
  color: #fff;
  z-index: 1;
}

emph::before {
  /* Highlight color */
  background-color: #ff3159;
  background-blend-mode: hard-light;
  content: "";
  position: absolute;
  width: calc(100% + 0.3em);
  height: 60%;
  left: -0.15em;
  bottom: 0.2em;
  z-index: -1;
  transform: skewX(-5deg);
}

div.box {
  margin: 0.5rem 0;
  padding: 1rem 1.3rem;
  position: relative;
  width: clamp(60%, 600px, 85%);
  background-color: #55101e;
  mix-blend-mode: hard-light;
  color: #fff;
  transform: skewY(-3deg);
}

div.player {
  margin: 0.5rem 0;
  position: relative;
  width: clamp(60%, 600px, 85%);
  color: #fff;
  transform: skewY(-3deg);
}

div.right {
  margin-right: 0;
  margin-left: calc(100% - clamp(60%, 600px, 85%));
  margin-top: calc((100% - clamp(60%, 600px, 85%)) * -0.0524077793 + 0.5rem);
  margin-bottom: calc(0.5rem - (100% - clamp(60%, 600px, 85%)) * -0.0524077793);
}

div.center {
  margin-right: auto;
  margin-left: calc((100% - clamp(60%, 600px, 85%)) * 0.5);
  margin-top: calc((100% - clamp(60%, 600px, 85%)) * -0.0524077793 * 0.5 + 1rem);
  margin-bottom: calc(0.5rem - (100% - clamp(60%, 600px, 85%)) * -0.0524077793 * 0.5);
}

p,
dl,
ol,
ul,
nav {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

a {
  position: relative;
  margin: 0em 0.2em;
  color: #fff;
  z-index: 1;
  white-space: nowrap;
}

a::before {
  /* Highlight color */
  background-color: #ff3159;
  background-blend-mode: hard-light;
  content: "";
  position: absolute;
  width: calc(100% + 0.3em);
  height: 60%;
  left: -0.15em;
  bottom: 0.2em;
  z-index: -1;
  transform: skewX(-5deg);
}/*# sourceMappingURL=skb.css.map */